:root {
  --color--backgroung: #efefef;
  --font--satoshi: Satoshi, sans-serif;
  --color--font: #151515;
  --text-size--regular: 1rem;
  --heading--h1: 5rem;
  --heading--h2: 3.5rem;
  --heading--h3: 1.5rem;
  --heading--h4: 1.375rem;
  --heading--h5: 1.25rem;
  --heading--h6: 1.125rem;
  --text-size--medium: 1.125rem;
  --text-size--display: 13.125rem;
  --color--button: #151515;
  --color--primary: #ee64ff;
  --text-size--small: .875rem;
  --color--card: white;
  --text-size--large: 1.5rem;
  --text-size--huge: 3.5rem;
  --alley-component-library--neutral--off-white: #f4f4f6;
  --alley-component-library--gray--900: #131316;
  --alley-component-library--orange--900: #f69351;
  --alley-component-library--blue--900: #5167f6;
  --alley-component-library--blue--800: #6478f7;
  --alley-component-library--blue--700: #7788f8;
  --font--satoshi-variable: Arial, "Helvetica Neue", Helvetica, sans-serif;
  --border--radius: .2rem;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--color--backgroung);
  font-family: var(--font--satoshi);
  color: var(--color--font);
  font-size: var(--text-size--regular);
  cursor: default;
  line-height: 1.5;
  text-decoration: none;
}

h1 {
  font-size: var(--heading--h1);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1;
}

h2 {
  font-size: var(--heading--h2);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.3;
}

h3 {
  font-size: var(--heading--h3);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.5;
}

h4 {
  font-size: var(--heading--h4);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.5;
}

h5 {
  font-size: var(--heading--h5);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.5;
}

h6 {
  font-size: var(--heading--h6);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.5;
}

p {
  font-size: var(--text-size--regular);
  margin-bottom: 0;
}

a {
  color: var(--color--font);
  font-size: var(--text-size--regular);
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

li {
  font-size: var(--text-size--regular);
  font-weight: 400;
}

img {
  object-fit: cover;
  max-width: 100%;
  display: inline-block;
}

blockquote {
  font-size: var(--text-size--medium);
  border-left: 5px solid #e2e2e2;
  margin-bottom: 0;
  padding: 10px 20px;
  line-height: 1.1;
}

.container {
  width: 100%;
  max-width: 110rem;
  margin-left: 0%;
  margin-right: 0%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.container.container-small {
  max-width: 80rem;
}

.container.container-large {
  width: 90vw;
  max-width: 100%;
  padding-bottom: 0;
}

.heading-1 {
  font-size: var(--heading--h1);
  text-align: left;
  font-weight: 400;
  line-height: 1;
}

.rich-text p {
  font-size: var(--text-size--regular);
  margin-bottom: 0;
}

.rich-text h1, .rich-text h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
}

.rich-text li {
  font-size: var(--text-size--regular);
}

.rich-text h3 {
  font-size: var(--heading--h3);
  margin-bottom: 1rem;
  font-weight: 500;
}

.rich-text h4, .rich-text h5 {
  margin-bottom: 1rem;
  font-weight: 500;
}

.rich-text blockquote {
  margin-bottom: 1rem;
}

.rich-text h6 {
  margin-bottom: 1rem;
  font-weight: 500;
}

.rich-text.rich-text-size {
  text-align: center;
  max-width: 60ch;
}

.text-weight-medium {
  font-weight: 500;
}

.text-weight-medium._1 {
  font-weight: 900;
}

.text-size-medium {
  font-size: var(--text-size--medium);
  line-height: 1.1;
}

.text-size-display {
  font-size: var(--text-size--display);
  letter-spacing: -.5975rem;
  font-weight: 300;
  line-height: 1;
}

.button-primary {
  grid-row-gap: .25rem;
  background-color: var(--color--button);
  color: var(--color--backgroung);
  font-size: var(--text-size--medium);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: .2rem;
  flex-direction: column;
  padding: .8rem 2.5rem;
  text-decoration: none;
  transition: all .3s cubic-bezier(.455, .03, .515, .955);
  display: flex;
  position: relative;
  overflow: hidden;
}

.button-primary:hover {
  background-color: var(--color--primary);
}

.text-size-small {
  font-size: var(--text-size--small);
  line-height: 1.5;
}

.heading-2 {
  font-size: var(--heading--h2);
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 72%;
  font-weight: 500;
  line-height: 1;
  display: flex;
}

.heading-2.text-weight-regular {
  text-align: center;
  max-width: 100%;
  line-height: 1.2;
}

.heading-2.middle {
  text-align: center;
}

.heading-2.hero-left-content {
  text-align: left;
  width: 100%;
  max-width: 100%;
  line-height: 1.2;
}

.hero-wrapper {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 15vh 0% 4rem;
  display: flex;
  position: relative;
}

.hero-header {
  z-index: 3;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.tag-wrapper {
  grid-column-gap: .6875rem;
  grid-row-gap: .6875rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.elipse {
  background-color: var(--color--primary);
  border-radius: 50%;
  width: .4rem;
  height: .4rem;
}

.caps {
  text-transform: uppercase;
}

.heading {
  max-width: 80ch;
}

.heading.smaller {
  max-width: 60ch;
}

.hero-component {
  flex-flow: column;
  align-items: center;
  width: 100%;
  display: flex;
}

.hero-big-text {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  white-space: nowrap;
  align-items: center;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.hero-content {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.hero-left-content {
  text-align: left;
  max-width: 30ch;
}

.big-elipse {
  background-color: var(--color--primary);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.hero-marquee {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  white-space: nowrap;
  align-items: center;
  display: flex;
  overflow: visible;
}

.button-line-wrap {
  background-color: #1515151a;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 1px;
  margin-top: 3px;
  display: flex;
}

.button-line-animation {
  background-color: #151515;
  width: 30%;
  height: 1px;
}

.hero-grid {
  z-index: 0;
  pointer-events: none;
  width: 74vw;
  max-width: 80rem;
  margin-top: -4vw;
  position: absolute;
}

.hero-interaction-wrapper {
  z-index: 2;
  pointer-events: none;
  cursor: none;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding-bottom: 50vh;
  padding-left: 110vh;
  display: flex;
  position: absolute;
  inset: 0%;
}

.text-images-wrapper {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
  display: flex;
}

.text-images {
  justify-content: center;
  align-items: center;
  max-width: 100%;
  display: flex;
}

.big-numbers {
  font-size: 5.3vw;
  font-weight: 400;
  line-height: 1;
}

.big-numbers-card {
  grid-column-gap: .3125rem;
  grid-row-gap: .3125rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.big-numbers-wrapper {
  grid-column-gap: 10.5rem;
  grid-row-gap: 10.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  place-items: center;
  display: flex;
}

.span {
  text-align: left;
  white-space: nowrap;
  vertical-align: bottom;
  object-fit: cover;
  background-image: url('../images/Placeholder.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 3.75rem 3.75rem;
  border: 2px solid #0000;
  border-radius: 4.75rem;
  width: 6.5rem;
  height: 4rem;
  font-size: .875rem;
  line-height: 7.5;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.span.three {
  pointer-events: none;
  cursor: default;
  background-image: url('../images/Text-Images-03.jpg');
  background-size: cover;
  border-radius: 5rem;
}

.span.one {
  pointer-events: none;
  white-space: nowrap;
  cursor: default;
  background-image: url('../images/Text-Images-01.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 5rem;
}

.span.two {
  pointer-events: none;
  cursor: default;
  background-image: url('../images/Text-Images-02.jpg');
  background-size: cover;
  border-radius: 5rem;
}

.grid {
  grid-column-gap: 2rem;
  grid-row-gap: 5.875rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center;
  display: grid;
}

.card {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  background-color: var(--color--card);
  text-align: left;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  padding: 4rem 3.5rem 4.3rem;
  display: flex;
}

.top-content {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  align-items: flex-start;
  max-width: 29ch;
  display: flex;
}

.big-text {
  opacity: .5;
  color: #e79034;
  font-size: 10.5rem;
  line-height: 1;
}

.big-text._1 {
  opacity: .5;
  color: #eb4736;
}

.big-text._3 {
  color: #5cc04d;
}

.section {
  margin: 8rem 5%;
  display: flex;
}

.hero {
  margin-left: 5%;
  margin-right: 5%;
}

.number {
  opacity: .2;
}

.number.second, .number.third, .number.first, .number._1, .number._2, .number._3 {
  opacity: .5;
}

.button-hero {
  color: var(--color--font);
  border-radius: .25rem;
}

.logos-component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-flow: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
}

.logos-grid {
  grid-column-gap: 5rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-columns: 1fr;
  place-items: center stretch;
  width: 100%;
  display: grid;
}

.logos {
  justify-content: center;
  align-items: center;
  height: 2.6rem;
  display: flex;
}

.section-logos {
  justify-content: center;
  align-items: center;
  margin: 8rem 5%;
  display: flex;
}

.big-gap {
  grid-column-gap: 12rem;
  grid-row-gap: 12rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.testimonial-wrapper {
  grid-column-gap: 4.9rem;
  grid-row-gap: 4.9rem;
  flex-flow: column;
  align-items: center;
  display: flex;
}

.header {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  text-align: center;
  flex-flow: column;
  align-items: center;
  max-width: 72ch;
  display: flex;
}

.header.left {
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
}

.header.middle {
  max-width: 100ch;
}

.max-width-45ch {
  max-width: 54ch;
}

.testimonial-text {
  grid-column-gap: 4.5rem;
  grid-row-gap: 4.5rem;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 1.4rem;
  margin-bottom: 1.5rem;
  display: flex;
}

.testimonial-image {
  border-radius: .5rem;
  height: 20rem;
  max-height: 20rem;
  overflow: hidden;
}

.name {
  grid-column-gap: .3rem;
  grid-row-gap: .3rem;
  flex-flow: column;
  display: flex;
}

.icon {
  object-fit: contain;
}

.display-none {
  display: none;
}

.clip {
  border-radius: .5rem;
  overflow: hidden;
}

.opacity-50 {
  opacity: .5;
}

.testimonial-info {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.testimonial-slider-content {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  height: auto;
  padding: 1.5rem 2.8rem 1.5rem 1.5rem;
  display: flex;
}

.card-testimonial {
  background-color: var(--color--card);
  border-radius: 1rem;
  width: 55rem;
  max-width: 55rem;
  box-shadow: 0 4px 8px #0000000d, 0 15px 15px #0000000a, 0 33px 20px #00000008, 0 59px 24px #00000003, 0 92px 26px #0000;
}

.quote {
  max-width: 50ch;
  margin-right: .4rem;
}

.testimonial-slider {
  background-color: #0000;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 80rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
}

.text-size-large {
  font-size: var(--text-size--large);
}

.text-size-large.height-1-15 {
  line-height: 1.15;
}

.slider-arrow-right {
  border: 1px solid #ddd;
  border-radius: 100%;
  order: 1;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 1rem .5rem;
  transition: all .2s;
  display: flex;
}

.slider-arrow-right:hover {
  background-color: var(--color--primary);
}

.text-size-regular {
  font-size: var(--text-size--regular);
  line-height: 1.5;
}

.text-size-regular.height-1-15 {
  line-height: 1.15;
}

.slider-arrow-left {
  border: 1px solid #ddd;
  border-radius: 100%;
  order: -1;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 1rem .5rem;
  transition: all .2s;
  display: flex;
}

.slider-arrow-left:hover {
  background-color: var(--color--primary);
}

.slider-star {
  grid-column-gap: .1rem;
  grid-row-gap: .1rem;
  justify-content: flex-end;
  display: flex;
}

.footer-component {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.credits-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer-links {
  grid-column-gap: 1.1rem;
  grid-row-gap: 1.1rem;
  align-items: center;
  display: flex;
}

.footer-links-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer-heading {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.credits {
  text-decoration: none;
  transition: opacity .2s;
}

.credits:hover {
  opacity: .8;
}

.footer-link {
  font-size: 1rem;
  font-weight: 500;
  transition: all .25s;
}

.footer-link:hover {
  color: #15151599;
  transform: translate(0, -2px);
}

.footer-social {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  padding: .7rem;
  transition: all .3s;
  display: flex;
}

.footer-social:hover {
  background-color: var(--color--primary);
  transform: translate(0, -2px);
}

.icon-links {
  object-fit: contain;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.credits-text {
  color: #15151599;
}

.footer-social-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vertical-line {
  background-color: #8e8c87;
  width: 1px;
  height: .8rem;
}

.section-footer {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 8rem 5% 0;
  padding-top: 0;
  padding-bottom: 8rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.font-color {
  color: var(--color--font);
}

.footer-links-component {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  flex-flow: column;
  display: flex;
}

.tag {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  display: flex;
}

.heading-3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.heading-4 {
  margin-top: 0;
}

.text-box {
  max-width: 60ch;
}

.text-box.large {
  max-width: 60rem;
}

.heading-3 {
  font-size: var(--heading--h3);
  font-weight: 400;
  line-height: 1;
}

.hero-style-guide-wrapper {
  background-color: #1a1a1a;
  border-radius: 1rem;
  width: 100%;
  margin-top: 6rem;
  padding: 13rem 2rem 2rem;
  overflow: hidden;
}

.hero-style-guide-content {
  grid-row-gap: 1.5rem;
  color: #f3f3f3;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.style-guide-header {
  grid-row-gap: 2.5rem;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 4.5rem;
  display: flex;
}

.text-weight-bold {
  font-weight: 700;
}

.color-palette-text {
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.heading-4 {
  font-size: var(--heading--h4);
  font-weight: 400;
  line-height: 1;
}

.style-guide-content {
  margin-bottom: 8rem;
}

.text-weight-light {
  font-weight: 300;
}

.style-guide-menu {
  grid-row-gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.color-palette {
  width: 100%;
  height: 10rem;
}

.color-palette.background {
  background-color: var(--color--backgroung);
}

.color-palette.card {
  background-color: var(--color--card);
}

.color-palette.primary-color {
  background-color: var(--color--primary);
}

.color-palette.font-color {
  background-color: var(--color--font);
}

.heading-6 {
  font-size: var(--heading--h6);
  font-weight: 400;
  line-height: 1;
}

.style-guide-menu-links {
  grid-row-gap: 1.5rem;
  opacity: .5;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  transition: opacity .3s;
  display: flex;
}

.style-guide-menu-links:hover, .style-guide-menu-links.w--current {
  opacity: 1;
}

.typography-content {
  grid-row-gap: .5rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.text-weight-regular {
  font-weight: 400;
}

.style-guide-menu-wrapper {
  grid-row-gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
}

.class-name-wrapper {
  grid-row-gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.class-name-wrapper.margin-bottom-0 {
  margin-bottom: 0;
}

.text-size-tiny {
  font-size: .75rem;
  line-height: 1.15;
}

.typography-wrapper {
  grid-row-gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  max-width: 30rem;
  display: flex;
}

.heading-5 {
  font-size: var(--heading--h5);
  font-weight: 400;
  line-height: 1;
}

.text-opacity {
  opacity: .7;
}

.divider-line {
  background-color: var(--color--font);
  opacity: .1;
  width: 100%;
  height: 1px;
}

.text-size-huge {
  font-size: var(--text-size--huge);
  line-height: 1.25;
}

.style-gudie-content {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.style-gudie-content.grid {
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start stretch;
  font-size: 2rem;
  display: grid;
}

.sticky-menu {
  grid-row-gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: sticky;
  top: 4rem;
}

.style-guide-component {
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
  margin-top: 8rem;
  margin-bottom: 10rem;
}

.style-tag {
  color: #121212;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb33;
  border-radius: 10rem;
  padding: .625rem 1.5rem;
  font-weight: 500;
}

.color-palette-card {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  background-color: var(--color--card);
  flex-flow: column;
  display: flex;
}

.works-wrapper {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  flex-flow: column;
  align-items: center;
  display: flex;
}

.works-wrapper.left {
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
  padding-right: 0;
}

.collection-list {
  grid-column-gap: 2rem;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.collection-list-wrapper {
  width: 100%;
}

.works-card {
  background-color: var(--color--card);
  border-radius: .5rem;
  overflow: hidden;
}

.works-link {
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 55vh;
  display: flex;
}

.works-image {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.work-content {
  justify-content: space-between;
  padding: 1.5rem 1.5rem 2.8125rem;
  display: flex;
}

.max-width-35ch {
  max-width: 35ch;
}

.works-hover-follow {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  white-space: nowrap;
  background-color: #fff6;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.blog-image-wrapper {
  border-radius: 1.5rem;
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.mask-frame {
  z-index: 2;
  background-color: var(--color--primary);
  opacity: 1;
  position: absolute;
  inset: auto 0% 0%;
}

.work-template-images {
  width: 100%;
  height: 60vh;
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
  overflow: hidden;
}

.work-template-images.margin-bottom {
  margin-bottom: 8rem;
}

.work-template-images.vertical {
  width: 50%;
  height: 90vh;
  margin-bottom: 6rem;
  margin-left: 6vw;
  margin-right: auto;
}

.work-template-images.vertical.right {
  margin-left: auto;
  margin-right: 6vw;
}

.work-template-images.no-margin {
  margin-bottom: 0;
}

.hero-section {
  padding-top: 15vh;
  padding-bottom: 6rem;
}

.content-section {
  padding-top: 12rem;
  padding-bottom: 2.5rem;
}

.work-content-cms {
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
}

.hero-works {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.works-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-flow: column;
  max-width: 60ch;
  display: flex;
}

.text-size-medium-contact {
  font-size: 1.125rem;
}

.form {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.text-field-contact {
  color: var(--color--font);
  background-color: #0000;
  border: 1px solid #0000;
  border-bottom-color: #1515151a;
  border-radius: 0;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  padding-left: 1rem;
  font-size: 1rem;
  transition: all .4s;
}

.text-field-contact:hover {
  color: var(--color--font);
  border-width: 1px;
  border-color: #1515151a;
  padding-left: 1.2rem;
}

.text-field-contact:active {
  color: #212121;
}

.text-field-contact:focus {
  color: var(--color--font);
  border-color: #212121;
}

.form-content {
  width: 100%;
}

.success-message {
  color: #000;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: .6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text-size-medium-vw {
  font-size: 1vw;
  font-weight: 400;
}

.form-wrapper {
  margin-top: 1rem;
}

.form-wrapper.full-width {
  width: 35%;
}

.text-size-contact {
  font-size: 1.375rem;
}

.name-wrapper-contact {
  width: 100%;
}

.submit-button {
  z-index: 3;
  color: #0000;
  background-color: #0000;
  position: absolute;
  inset: 0%;
}

.contact-button {
  background-color: #1d1d1f;
  border-radius: .3rem;
  transition: all .25s;
}

.contact-button.align-center {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.error-message {
  color: #fbfbfb;
  text-align: center;
  background-color: #ec3c3c;
  border-radius: .7rem;
  margin-top: 2rem;
  padding: 1.5rem 1.1rem;
}

.form-component {
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  display: flex;
}

.hero-card {
  background-color: var(--color--font);
  border-radius: 1vh;
  width: 45vh;
  height: 55vh;
  position: absolute;
  overflow: hidden;
}

.hero-card.first {
  z-index: 3;
  width: 32vh;
  height: 32vh;
  transform: rotate(-4.89deg);
}

.hero-card.second {
  z-index: 2;
  background-color: var(--color--primary);
  width: 32vh;
  height: 32vh;
  transform: rotate(-.463deg);
}

.hero-card.third {
  z-index: 1;
  background-color: #aa4646;
  width: 32vh;
  height: 32vh;
  transform: rotate(3.712deg);
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.hero-form {
  padding-top: 15vh;
}

.nav-menu-wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  display: flex;
}

.right-navbar-content {
  grid-column-gap: .8rem;
  grid-row-gap: .8rem;
  align-items: center;
  display: flex;
}

.navbar-component {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  display: flex;
}

.link-block-navbar {
  color: #151515;
  justify-content: center;
  align-items: center;
  padding: .46rem .75rem;
  text-decoration: none;
  transition: all .25s;
  display: flex;
}

.link-block-navbar:hover {
  opacity: .8;
  transform: translate(0, 1px);
}

.brand {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 1.8rem;
  display: flex;
}

.nav-link {
  color: #fbfbfb;
  padding-top: .2rem;
  padding-bottom: .2rem;
  text-decoration: none;
  transition: all .25s;
  position: relative;
}

.nav-link:hover {
  opacity: .8;
  transform: translate(0, 1px);
}

.nav-menu {
  z-index: 2;
  grid-column-gap: 2.875rem;
  grid-row-gap: 2.875rem;
  align-items: center;
  display: none;
}

.navbar {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  position: absolute;
  top: 0;
}

.empty-state {
  text-align: center;
  background-color: #0000;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  display: flex;
}

.hero-section-works {
  padding-top: 15vh;
  padding-bottom: 6rem;
}

.grid-layout {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-layout.desktop-3-column {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-layout.desktop-3-column.grid-gap-m {
  justify-content: end;
}

.grid-layout.grid-gap-m {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.utility-image-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  inset: 0%;
}

.utility-aspect-4x3 {
  aspect-ratio: 4 / 3;
  position: relative;
}

.utility-margin-bottom-2rem {
  margin-bottom: 2rem;
}

.button-group {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-color: #0000;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.button-wrapper {
  display: flex;
}

.button-secondary {
  grid-row-gap: .25rem;
  border: 1px solid var(--color--font);
  color: var(--color--font);
  font-size: var(--text-size--medium);
  text-transform: uppercase;
  cursor: pointer;
  background-color: #0000;
  border-radius: .2rem;
  flex-direction: column;
  padding: .8rem 2.5rem;
  text-decoration: none;
  transition: all .3s cubic-bezier(.455, .03, .515, .955);
  display: flex;
  position: relative;
  overflow: hidden;
}

.button-secondary:hover {
  border-color: var(--color--primary);
  background-color: var(--color--primary);
}

.delete-this {
  z-index: 20;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  background-color: #fbfbfb;
  border-radius: .75rem;
  flex-flow: column;
  padding: 1.5rem;
  text-decoration: none;
  display: flex;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}

.modal-button {
  color: #fbfbfb;
  text-align: center;
  cursor: pointer;
  background-color: #101011;
  border-radius: .5rem;
  width: 100%;
  padding: .8rem 1rem;
  text-decoration: none;
  transition: all .25s;
}

.modal-button:hover {
  background-color: #101011cc;
  transform: scale(.98);
}

.modal-text {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: #101828;
  flex-flow: column;
  display: flex;
}

.modal-embed {
  display: flex;
}

.webflix-link {
  color: #101828;
}

.text-size-medium-2 {
  font-size: 1.125rem;
}

.code-embed {
  width: .8rem;
  height: .8rem;
  display: flex;
}

.modal-buttons {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.opacity-80 {
  opacity: .8;
}

.exit {
  z-index: 5;
  cursor: pointer;
  background-color: #efefef;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
  position: relative;
  bottom: 1rem;
  left: .5rem;
}

.max-width-37ch {
  max-width: 37ch;
}

.modal-link {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: #101828;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.modal-content {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.div-block {
  flex-flow: column;
  display: flex;
}

.bold-text {
  color: #eb4736;
}

.bold-text-2 {
  color: #e79034;
}

.bold-text-3 {
  color: #5cc04d;
}

.a-paragraph-small {
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}

.a-testimonial-avatar {
  width: 36px;
  height: 36px;
}

.a-testimonial-avatar-wrapper {
  background-color: var(--alley-component-library--neutral--off-white);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  display: flex;
}

.a-testimonial-author {
  grid-column-gap: 8px;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.a-paragraph-regular {
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.8;
}

.a-h5-heading {
  color: var(--alley-component-library--gray--900);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 1.4;
}

.a-margin-bottom-16 {
  margin-bottom: 16px;
}

.a-testimonial-base {
  border: 1px solid var(--alley-component-library--neutral--off-white);
  background-color: var(--color--card);
  border-radius: 24px;
  height: 300px;
  padding: 32px;
}

.a-testimonial-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin-top: 0;
}

.a-h3-heading {
  color: var(--alley-component-library--gray--900);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 1.2;
}

.a-detail-small {
  letter-spacing: .08em;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.8;
}

.a-margin-bottom-08 {
  margin-bottom: 8px;
}

.a-title-wrap-center {
  text-align: center;
  flex-direction: column;
  align-items: center;
  max-width: 510px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.a-container-regular {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.a-section-regular {
  padding: 92px 5%;
  position: relative;
}

.works-card-2 {
  background-color: #fff;
  border-radius: .5rem;
  overflow: hidden;
}

.opacity-white-text {
  color: var(--color--button);
}

.space-top-small {
  margin-top: 24px;
}

.social-logo {
  background-color: #ffffff1a;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
}

.speaker-image-cover {
  opacity: 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #00000052;
  flex-flow: column;
  justify-content: space-between;
  padding: 32px;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.social-logos-wrap {
  grid-column-gap: 8px;
  display: flex;
}

.speaker-image {
  width: 100%;
}

.speaker-image-wrap {
  border-radius: 10px;
  height: 400px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.three-column-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 60px;
  display: grid;
}

.limit-medium {
  max-width: 570px;
}

.section-2 {
  margin: 8rem 5%;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.container-2 {
  max-width: 1360px;
  padding: 0;
}

.medium-text {
  text-align: left;
  font-size: 18px;
  line-height: 150%;
}

.team-name {
  font-size: var(--heading--h4);
  font-weight: 700;
}

.heading-7 {
  color: var(--alley-component-library--neutral--off-white);
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0;
}

.heading-8, .heading-9 {
  color: var(--alley-component-library--neutral--off-white);
}

.a-subheading-regular {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.8;
}

.a-icon-regular {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: color .2s;
  display: flex;
}

.a-feature-icon {
  background-color: #fff;
  border-radius: 100%;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
  display: flex;
  box-shadow: 1px 1px 20px #0000000d;
}

.a-feature-card {
  border: 1px solid var(--alley-component-library--neutral--off-white);
  background-color: var(--color--card);
  border-radius: 24px;
  padding: 24px;
}

.a-text-color-orange-900 {
  color: var(--alley-component-library--orange--900);
}

.a-caption {
  letter-spacing: -.01em;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}

.a-button-primary {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: var(--alley-component-library--blue--900);
  color: #fff;
  text-align: center;
  letter-spacing: -.02em;
  border-radius: 99px;
  flex-direction: row;
  flex: none;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  transition: all .5s cubic-bezier(.6, .6, 0, 1);
}

.a-button-primary:hover {
  background-color: var(--alley-component-library--blue--800);
}

.a-button-primary:active {
  background-color: var(--alley-component-library--blue--700);
}

.a-feature-button-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.a-paragraph-large {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.8;
}

.a-feature-text-grid {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.a-feature-card-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 64px;
  margin-bottom: 28px;
}

.a-span-underline {
  border-bottom: 6px solid var(--alley-component-library--blue--900);
  color: var(--alley-component-library--blue--900);
}

.a-detail-regular {
  letter-spacing: .08em;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.8;
}

.a-margin-bottom-17 {
  margin-bottom: 16px;
}

.a-feature-title {
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  max-width: 550px;
  margin-right: auto;
  display: flex;
}

.a-section-large {
  margin: 8rem 5%;
  padding: 0 0%;
  position: relative;
}

.paragraph {
  text-align: left;
}

.paragraph.middle {
  text-align: center;
}

.paragraph.hero-left-content {
  max-width: 100%;
}

.left {
  text-align: left;
}

.div-block-2 {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  grid-template-rows: auto;
  grid-template-columns: 2fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.div-block-3 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  width: 100%;
  display: flex;
}

.div-block-3.left {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  display: grid;
}

.link-block {
  padding: 8px 12px;
}

.div-block-4 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 3fr 1.5fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  place-items: center;
  display: grid;
}

@media screen and (max-width: 991px) {
  .container {
    width: auto;
    max-width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .container.container-large {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .heading-1 {
    font-size: 4rem;
  }

  .text-size-medium {
    font-size: 1rem;
  }

  .text-size-display {
    letter-spacing: 0;
    font-size: 4rem;
  }

  .text-size-small.caps {
    text-align: left;
  }

  .heading-2 {
    font-size: 2.5rem;
  }

  .heading-2.text-weight-regular {
    font-size: 1.8rem;
  }

  .heading-2.hero-left-content {
    font-size: 2.5rem;
    line-height: 1.3;
  }

  .hero-wrapper {
    height: auto;
    padding-bottom: 0;
    padding-left: 0%;
    padding-right: 0%;
  }

  .heading {
    max-width: 60ch;
  }

  .hero-component {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .hero-content {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    text-align: center;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .hero-left-content {
    text-align: center;
  }

  .hero-interaction-wrapper {
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
  }

  .text-images-wrapper {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
  }

  .text-images {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  .big-numbers {
    font-size: 4rem;
  }

  .big-numbers-card {
    text-align: center;
    justify-content: flex-start;
    align-items: center;
  }

  .big-numbers-wrapper {
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-around;
    place-items: center;
    width: 100%;
    display: flex;
  }

  .span {
    border-radius: 1rem;
    width: 3rem;
    height: 3rem;
    line-height: 6;
  }

  .span.three, .span.one, .span.two {
    width: 4rem;
  }

  .grid {
    grid-row-gap: 2rem;
    flex-flow: column;
    width: 100%;
    display: flex;
  }

  .card {
    flex-flow: row;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .top-content {
    max-width: none;
  }

  .section {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .logos-grid {
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
    flex-flow: wrap;
  }

  .section-logos {
    margin-top: 0;
  }

  .big-gap {
    grid-column-gap: 8rem;
    grid-row-gap: 8rem;
  }

  .header {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .testimonial-text {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }

  .testimonial-image {
    height: 100%;
    max-height: none;
  }

  .clip {
    height: 100%;
  }

  .card-testimonial {
    width: auto;
    max-width: none;
    height: auto;
  }

  .testimonial-slider {
    max-width: none;
  }

  .slider-arrow-right, .slider-arrow-left {
    display: none;
  }

  .footer-component {
    min-height: 0;
  }

  .section-footer {
    padding-top: 8rem;
  }

  .footer-links-component {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }

  .text-box {
    max-width: 26ch;
  }

  .heading-3 {
    font-size: 3rem;
    line-height: 1.2;
  }

  .heading-4 {
    font-size: 1.75rem;
  }

  .style-guide-menu {
    grid-column-gap: 5rem;
    flex-flow: wrap;
    width: 100%;
  }

  .color-palette.primary-color {
    background-color: #fbfbfb;
  }

  .heading-6 {
    font-size: 1.25rem;
  }

  .heading-5 {
    font-size: 1.5rem;
  }

  .text-size-huge {
    font-size: 2rem;
  }

  .style-gudie-content.grid {
    grid-column-gap: 1rem;
  }

  .style-guide-component {
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
  }

  .works-wrapper.left {
    max-width: 100%;
  }

  .works-link {
    justify-content: flex-start;
    min-height: 50vh;
  }

  .works-image {
    height: 73%;
  }

  .work-content {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    padding-bottom: 1.5rem;
  }

  .works-hover-follow {
    display: none;
  }

  .blog-image-wrapper {
    justify-content: flex-start;
  }

  .mask-frame {
    z-index: 4;
  }

  .work-template-images.vertical {
    margin-bottom: 6rem;
  }

  .content-section {
    padding-top: 8rem;
  }

  .form {
    justify-content: flex-start;
    align-items: center;
  }

  .text-size-medium-vw {
    font-size: 1.125rem;
  }

  .form-wrapper, .form-wrapper.full-width {
    width: 100%;
  }

  .form-component {
    margin-top: 6rem;
  }

  .hero-card {
    width: 30vh;
    height: 38vh;
  }

  .hero-card.first, .hero-card.second, .hero-card.third {
    width: 40vh;
    height: 40vh;
  }

  .hero-form {
    padding-bottom: 0;
  }

  .nav-menu-wrap {
    justify-content: flex-end;
    align-items: center;
  }

  .menu-button {
    border-radius: 4px;
    overflow: hidden;
  }

  .menu-button.w--open {
    color: #fbfbfb;
    background-color: #ee64ff;
  }

  .right-navbar-content {
    display: none;
  }

  .navbar-component {
    padding-top: .6rem;
    padding-bottom: .6rem;
  }

  .brand, .brand.w--current {
    width: 8rem;
  }

  .nav-link {
    color: #151515;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    display: flex;
  }

  .nav-menu {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    color: #151515;
    background-color: #efefef;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    display: flex;
    position: absolute;
  }

  .grid-layout.tablet-1-column {
    grid-template-columns: 1fr;
  }

  .a-paragraph-regular {
    line-height: 24px;
  }

  .a-h5-heading {
    font-size: 24px;
    line-height: 32px;
  }

  .a-testimonial-base {
    height: auto;
    padding: 16px;
  }

  .space-top-small {
    margin-top: 22px;
  }

  .speaker-image-wrap {
    height: 400px;
  }

  .three-column-grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
  }

  .section-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .medium-text {
    font-size: 16px;
  }

  .a-button-primary {
    display: flex;
  }

  .a-feature-card-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .paragraph.hero-left-content {
    text-align: left;
  }

  .div-block-2 {
    grid-template-columns: 2fr;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .heading-1, .text-size-display {
    font-size: 3rem;
  }

  .heading-2 {
    font-size: 2.375rem;
  }

  .heading-2.text-weight-regular {
    font-size: 1.5rem;
  }

  .heading-2.hero-left-content {
    justify-content: flex-start;
    align-items: center;
  }

  .hero-content {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .text-images-wrapper {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }

  .big-numbers {
    font-size: 4rem;
  }

  .big-numbers-card {
    text-align: center;
    max-width: none;
  }

  .big-numbers-wrapper {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    flex-flow: column;
    display: flex;
  }

  .span {
    background-size: 2.5rem 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .card {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    flex-flow: column;
  }

  .big-text {
    font-size: 9rem;
  }

  .section {
    margin-top: 4rem;
  }

  .logos-grid {
    grid-row-gap: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .section-logos {
    margin-top: 6rem;
  }

  .big-gap, .testimonial-wrapper {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }

  .testimonial-text {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .testimonial-image {
    object-position: 50% 0%;
    height: 20rem;
    max-height: none;
  }

  .testimonial-slider-content {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    padding: 1rem;
  }

  .card-testimonial {
    width: 100%;
  }

  .image {
    object-position: 50% 20%;
  }

  .credits-wrapper {
    flex-flow: column;
  }

  .section-footer {
    padding-top: 6rem;
  }

  .heading-3 {
    font-size: 2.875rem;
  }

  .hero-style-guide-wrapper {
    padding-top: 8rem;
  }

  .style-guide-header {
    font-size: .875rem;
  }

  .heading-4 {
    font-size: 1.625rem;
  }

  .style-guide-menu {
    grid-column-gap: 2rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .heading-6 {
    font-size: 1.125rem;
  }

  .heading-5 {
    font-size: 1.375rem;
  }

  .style-gudie-content.grid {
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .style-guide-component {
    grid-row-gap: 4rem;
    flex-flow: column;
    grid-template-columns: 1fr;
    margin-top: 4rem;
    display: flex;
  }

  .works-wrapper {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }

  .collection-list {
    grid-row-gap: 2rem;
    flex-flow: column;
    display: flex;
  }

  .works-link {
    min-height: 0;
  }

  .works-hover-follow {
    width: 8rem;
    height: 8rem;
  }

  .work-template-images.margin-bottom {
    margin-bottom: 6rem;
  }

  .work-template-images.vertical {
    width: 100%;
    margin-bottom: 4rem;
    margin-left: auto;
  }

  .work-template-images.vertical.right {
    width: 100%;
  }

  .content-section {
    padding-top: 4rem;
  }

  .form-component {
    margin-top: 4rem;
  }

  .navbar-component {
    padding-top: .3rem;
    padding-bottom: .3rem;
  }

  .brand, .brand.w--current {
    width: 10rem;
  }

  .hero-section-works {
    padding-bottom: 4rem;
  }

  .grid-layout.grid-gap-m {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .utility-margin-bottom-2rem {
    margin-bottom: 1rem;
  }

  .delete-this {
    left: 1.5rem;
  }

  .text-size-medium-2 {
    font-size: 1.2rem;
  }

  .a-testimonial-grid {
    grid-template-columns: 1fr;
  }

  .a-h3-heading {
    font-size: 40px;
  }

  .a-section-regular {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .space-top-small {
    margin-top: 20px;
  }

  .three-column-grid {
    grid-template-columns: 1fr;
  }

  .section-2 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-2 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .medium-text {
    font-size: 15px;
  }

  .a-feature-button-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .a-feature-card-grid {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .a-section-large {
    padding-top: 0;
    padding-bottom: 0;
  }

  .div-block-3.left {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .div-block-4 {
    grid-template-rows: auto auto;
    grid-template-columns: 3fr;
    place-items: start;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .heading-1 {
    font-size: 2.9rem;
  }

  .rich-text {
    width: 100%;
  }

  .text-size-display {
    font-size: 1.5rem;
  }

  .text-size-display.break-mobile {
    word-break: break-all;
  }

  .button-primary {
    align-items: center;
    width: 100%;
  }

  .heading-2 {
    font-size: 2.25rem;
  }

  .heading-2.text-weight-regular {
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
  }

  .hero-wrapper {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    height: auto;
    overflow: hidden;
  }

  .tag-wrapper {
    justify-content: center;
    align-items: center;
  }

  .elipse.hide-mobile {
    display: none;
  }

  .hero-interaction-wrapper {
    height: 60vh;
    position: relative;
  }

  .text-images-wrapper {
    justify-content: center;
    align-items: flex-start;
  }

  .big-numbers {
    font-size: 4rem;
  }

  .big-numbers-card {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .big-numbers-wrapper {
    justify-content: space-around;
    align-items: flex-start;
  }

  .big-text {
    font-size: 8rem;
  }

  .logos-component {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .logos-grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .logos {
    height: auto;
  }

  .big-gap {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
  }

  .testimonial-wrapper {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .header.left {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .testimonial-slider-content {
    padding: 1rem 1rem 1.3rem;
  }

  .card-testimonial {
    width: 100%;
  }

  .credits-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
  }

  .footer-links {
    flex-flow: column;
  }

  .footer-links-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    text-align: center;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .vertical-line.hide-mobile {
    display: none;
  }

  .section-footer {
    padding-top: 0;
    padding-bottom: 8rem;
  }

  .tag.vertical-mobile {
    flex-flow: column;
  }

  .heading-3 {
    font-size: 2.75rem;
  }

  .hero-style-guide-wrapper {
    padding-top: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .heading-4 {
    font-size: 1.5rem;
    line-height: 1.3;
  }

  .style-guide-content {
    margin-bottom: 6rem;
  }

  .style-guide-menu {
    grid-column-gap: 0rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .heading-6 {
    font-size: 1rem;
  }

  .class-name-wrapper {
    width: 100%;
    overflow: hidden;
  }

  .heading-5 {
    font-size: 1.25rem;
  }

  .style-guide-content-wrapper {
    flex-flow: column;
    align-items: stretch;
    display: flex;
  }

  .divider-line {
    width: 100%;
  }

  .style-gudie-content {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }

  .style-guide-component {
    grid-template-columns: auto;
    grid-auto-columns: auto;
  }

  .works-hover-follow {
    width: 6rem;
    height: 6rem;
  }

  .blog-image-wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .mask-frame {
    z-index: 4;
  }

  .form, .form-wrapper {
    width: 100%;
  }

  .hero-card {
    width: 45vh;
    height: 60vh;
    position: absolute;
  }

  .navbar-component {
    padding-top: .2rem;
    padding-bottom: .2rem;
  }

  .brand {
    width: 15rem;
  }

  .brand.w--current {
    justify-content: flex-start;
    align-items: center;
    width: 14rem;
  }

  .nav-menu {
    width: 100%;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }

  .navbar {
    max-width: 64%;
    margin-top: 1rem;
  }

  .button-secondary {
    align-items: center;
    width: 100%;
  }

  .text-size-medium-2 {
    font-size: 1.125rem;
  }

  .modal-link {
    flex-flow: wrap;
  }

  .three-column-grid {
    margin-top: 30px;
  }

  .section-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .a-button-primary {
    width: 100%;
  }

  .a-feature-card-grid {
    grid-template-columns: 1fr;
  }

  .div-block-3.left, .div-block-4 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .body {
    max-width: 100%;
  }
}

#w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec20-a3fbec67 {
  place-self: center;
}

#w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec22-a3fbec67 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec24-a3fbec67, #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec26-a3fbec67, #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec28-a3fbec67, #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec2a-a3fbec67, #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec2c-a3fbec67, #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec2e-a3fbec67, #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec30-a3fbec67, #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec32-a3fbec67 {
  place-self: center;
}

#w-node-_3f4a3053-1b62-9438-39f1-ce6da6703c19-a3fbec67, #w-node-_3f4a3053-1b62-9438-39f1-ce6da6703c24-a3fbec67, #w-node-_3f4a3053-1b62-9438-39f1-ce6da6703c2f-a3fbec67, #w-node-_3f4a3053-1b62-9438-39f1-ce6da6703c3a-a3fbec67, #w-node-_777754e3-c021-ef8f-f3cf-a83f2dfb2220-a3fbec67, #w-node-d6c53ff9-64bd-5f93-a27a-7da3f1972194-a3fbec67, #w-node-d6c53ff9-64bd-5f93-a27a-7da3f197219c-a3fbec67, #w-node-d6c53ff9-64bd-5f93-a27a-7da3f19721a4-a3fbec67, #w-node-d6c53ff9-64bd-5f93-a27a-7da3f19721b6-a3fbec67, #w-node-_5694a351-f82a-c1d3-4c92-e8310d3c3b46-a3fbec68, #w-node-_5694a351-f82a-c1d3-4c92-e8310d3c3b5d-a3fbec68, #w-node-_5694a351-f82a-c1d3-4c92-e8310d3c3b62-a3fbec68, #w-node-_5694a351-f82a-c1d3-4c92-e8310d3c3b79-a3fbec68, #w-node-_5694a351-f82a-c1d3-4c92-e8310d3c3ba3-a3fbec68, #w-node-_5694a351-f82a-c1d3-4c92-e8310d3c3bf1-a3fbec68, #w-node-_5694a351-f82a-c1d3-4c92-e8310d3c3c0f-a3fbec68, #w-node-_5694a351-f82a-c1d3-4c92-e8310d3c3c11-a3fbec68, #w-node-_5694a351-f82a-c1d3-4c92-e8310d3c3c16-a3fbec68, #w-node-_5694a351-f82a-c1d3-4c92-e8310d3c3c1c-a3fbec68, #w-node-_5694a351-f82a-c1d3-4c92-e8310d3c3c21-a3fbec68, #w-node-ba76b263-3d2a-d3b9-f18e-51e1d7ee4fba-a3fbec68 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-aade02f1-0735-d459-71c2-fd6566d1df24-a3fbec68 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_84481c42-673d-6a5f-41de-081ad5139fd9-a3fbec68, #w-node-_5694a351-f82a-c1d3-4c92-e8310d3c3c2a-a3fbec68 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_1af93a0f-02ae-0fb1-39b8-a79c00b212e1-a3fbec67 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_1af93a0f-02ae-0fb1-39b8-a79c00b212e6-a3fbec67 {
    grid-area: 2 / 2 / 3 / 3;
  }

  #w-node-_1af93a0f-02ae-0fb1-39b8-a79c00b212eb-a3fbec67 {
    grid-area: 3 / 1 / 3 / 2;
  }
}


@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Italic.woff2') format('woff2'), url('../fonts/Satoshi-VariableItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi Variable';
  src: url('../fonts/Satoshi-Variable.woff2') format('woff2');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}